In [5]:
# pandasライブラリをインポート
import pandas as pd

# Ki_vs_Ta.csvファイルを読み込み、データフレームに変換する
df = pd.read_csv('./data/Ki_vs_Ta.csv')

# 上位3件の表示
print(df.head(3))

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [12]:
#身長ソート(何もなし)
df = df.sort_values('身長')
df

     身長  体重  年代    派閥
15  155  56  20   きのこ
16  160  56  20  たけのこ
10  165  65  40  たけのこ
5   168  55  20   きのこ
6   169  65  30  たけのこ
17  170  65  40   きのこ
2   170  60  30  たけのこ
3   170  65  40   きのこ
7   170  62  40  たけのこ
9   170  68  20   きのこ
11  170  72  20   きのこ
13  170  65  30  たけのこ
14  170  65  30  たけのこ
0   170  60  10   きのこ
1   172  65  20   きのこ
12  175  77  40  たけのこ
18  175  60  20  たけのこ
4   177  65  10  たけのこ
8   180  70  10  たけのこ

In [14]:
#体重ソート(降順)
df = df.sort_values(('体重'),ascending=False)
df

     身長  体重  年代    派閥
12  175  77  40  たけのこ
11  170  72  20   きのこ
8   180  70  10  たけのこ
9   170  68  20   きのこ
1   172  65  20   きのこ
14  170  65  30  たけのこ
13  170  65  30  たけのこ
4   177  65  10  たけのこ
3   170  65  40   きのこ
17  170  65  40   きのこ
6   169  65  30  たけのこ
10  165  65  40  たけのこ
7   170  62  40  たけのこ
18  175  60  20  たけのこ
0   170  60  10   きのこ
2   170  60  30  たけのこ
16  160  56  20  たけのこ
15  155  56  20   きのこ
5   168  55  20   きのこ

In [15]:
#年代ソート(昇順) 
df = df.sort_values(('年代'),ascending=True)
df

     身長  体重  年代    派閥
8   180  70  10  たけのこ
4   177  65  10  たけのこ
0   170  60  10   きのこ
5   168  55  20   きのこ
11  170  72  20   きのこ
9   170  68  20   きのこ
1   172  65  20   きのこ
16  160  56  20  たけのこ
15  155  56  20   きのこ
18  175  60  20  たけのこ
14  170  65  30  たけのこ
13  170  65  30  たけのこ
6   169  65  30  たけのこ
2   170  60  30  たけのこ
12  175  77  40  たけのこ
10  165  65  40  たけのこ
3   170  65  40   きのこ
7   170  62  40  たけのこ
17  170  65  40   きのこ